In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit  # import the curve fitting function
%matplotlib inline

### Read-in

In [2]:
df = pd.read_excel('SpectralData.xlsx', sheetname=None)

In [3]:
df['Hydrogen']

    Color  Angles  Minute     CCW  AnglesCCW  MinuteCCW
0     Red     191      12     Red        168         47
1    Teal     188      16    Teal        171         43
2  Violet     187      24  Violet        172         35
3     Red     191      15     Red        168         51
4    Teal     188      18    Teal        171         45
5  Violet     187      23  Violet        172         42
6     Red     191      14     Red        168         46
7    Teal     188      21    Teal        171         40
8  Violet     187      25  Violet        172         37

In [4]:
df['Mercury']

     Color  Angles  Minute      CCW  AnglesCCW  MinuteCCW
0  Yellow1     189      49  Yellow1        170          4
1  Yellow2     189      47  Yellow2        170          6
2    Green     189      14    Green        170         36
3     Blue     188      21     Blue        171         33
4   Violet     187      22   Violet        172         30
5  Yellow1     189      51  Yellow1        170          5
6  Yellow2     189      50  Yellow2        170          7
7    Green     189      20    Green        170         40
8     Blue     188      26     Blue        171         37
9   Violet     187      27   Violet        172         39

### Hydrogen

In [5]:
#Degrees
HRed = np.array([df['Hydrogen']['Angles'][i] for i in np.arange(0,len(df['Hydrogen']['Angles']),3) ])
HTeal = np.array([df['Hydrogen']['Angles'][i] for i in np.arange(1,len(df['Hydrogen']['Angles']),3) ])
HViolet = np.array([df['Hydrogen']['Angles'][i] for i in np.arange(2,len(df['Hydrogen']['Angles']),3) ])

#Add Minutes
HRed = HRed + np.array([df['Hydrogen']['Minute'][i] for i in np.arange(0,len(df['Hydrogen']['Minute']),3) ])/60
HTeal = HTeal + np.array([df['Hydrogen']['Minute'][i] for i in np.arange(1,len(df['Hydrogen']['Minute']),3) ])/60
HViolet = HViolet + np.array([df['Hydrogen']['Minute'][i] for i in np.arange(2,len(df['Hydrogen']['Minute']),3) ])/60

# Averaging
HRed = np.mean(HRed)
HTeal = np.mean(HTeal)
HViolet = np.mean(HViolet)

# True angle is difference from 180
HRed = abs(HRed - 180)
HTeal = abs(HTeal - 180)
HViolet = abs(HViolet-180)

In [6]:
#Degrees
HRedCCW = np.array([df['Hydrogen']['AnglesCCW'][i] for i in np.arange(0,len(df['Hydrogen']['AnglesCCW']),3) ])
HTealCCW = np.array([df['Hydrogen']['AnglesCCW'][i] for i in np.arange(1,len(df['Hydrogen']['AnglesCCW']),3) ])
HVioletCCW = np.array([df['Hydrogen']['AnglesCCW'][i] for i in np.arange(2,len(df['Hydrogen']['AnglesCCW']),3) ])

#Add Minutes
HRedCCW = HRedCCW + np.array([df['Hydrogen']['MinuteCCW'][i] for i in np.arange(0,len(df['Hydrogen']['MinuteCCW']),3) ])/60
HTealCCW = HTealCCW + np.array([df['Hydrogen']['MinuteCCW'][i] for i in np.arange(1,len(df['Hydrogen']['MinuteCCW']),3) ])/60
HVioletCCW = HVioletCCW + np.array([df['Hydrogen']['MinuteCCW'][i] for i in np.arange(2,len(df['Hydrogen']['MinuteCCW']),3) ])/60

#Averaging
HRedCCW = np.mean(HRedCCW)
HTealCCW = np.mean(HTealCCW)
HVioletCCW = np.mean(HVioletCCW)

# True angle is difference from 180
HRedCCW = abs(HRedCCW - 180)
HTealCCW = abs(HTealCCW - 180)
HVioletCCW = abs(HVioletCCW-180)

In [7]:
# Average CW and CCW
HRed = (HRed + HRedCCW)/2
HTeal = (HTeal + HTealCCW)/2
HViolet = (HViolet + HVioletCCW)/2

print(HRed)
print(HTeal)
print(HViolet)

11.2138888889
8.29722222222
7.38333333333

### Mercury

In [8]:
#Degrees
HgY1 = np.array([df['Mercury']['Angles'][i] for i in np.arange(0,len(df['Mercury']['Angles']),5) ])
HgY2 = np.array([df['Mercury']['Angles'][i] for i in np.arange(1,len(df['Mercury']['Angles']),5) ])
HgG = np.array([df['Mercury']['Angles'][i] for i in np.arange(2,len(df['Mercury']['Angles']),5) ])
HgB = np.array([df['Mercury']['Angles'][i] for i in np.arange(3,len(df['Mercury']['Angles']),5) ])
HgV = np.array([df['Mercury']['Angles'][i] for i in np.arange(4,len(df['Mercury']['Angles']),5) ])

#Add Minutes
HgY1 = HgY1 + np.array([df['Mercury']['Minute'][i] for i in np.arange(0,len(df['Mercury']['Minute']),5) ])/60
HgY2 = HgY2 + np.array([df['Mercury']['Minute'][i] for i in np.arange(1,len(df['Mercury']['Minute']),5) ])/60
HgG = HgG + np.array([df['Mercury']['Minute'][i] for i in np.arange(2,len(df['Mercury']['Minute']),5) ])/60
HgB = HgB + np.array([df['Mercury']['Minute'][i] for i in np.arange(3,len(df['Mercury']['Minute']),5) ])/60
HgV = HgV + np.array([df['Mercury']['Minute'][i] for i in np.arange(4,len(df['Mercury']['Minute']),5) ])/60

# Averaging
HgY1 = np.mean(HgY1)
HgY2 = np.mean(HgY2)
HgG = np.mean(HgG)
HgB = np.mean(HgB)
HgV = np.mean(HgV)

# True angle is difference from 180
HgY1 = abs(HgY1-180)
HgY2 = abs(HgY2 - 180)
HgG = abs(HgG-180)
HgB = abs(HgB-180)
HgV = abs(HgV-180)

In [12]:
#Degrees
HgY1CCW = np.array([df['Mercury']['AnglesCCW'][i] for i in np.arange(0,len(df['Mercury']['AnglesCCW']),5) ])
HgY2CCW = np.array([df['Mercury']['AnglesCCW'][i] for i in np.arange(1,len(df['Mercury']['AnglesCCW']),5) ])
HgGCCW = np.array([df['Mercury']['AnglesCCW'][i] for i in np.arange(2,len(df['Mercury']['AnglesCCW']),5) ])
HgBCCW = np.array([df['Mercury']['AnglesCCW'][i] for i in np.arange(3,len(df['Mercury']['AnglesCCW']),5) ])
HgVCCW = np.array([df['Mercury']['AnglesCCW'][i] for i in np.arange(4,len(df['Mercury']['AnglesCCW']),5) ])

#Add Minutes

HgY1CCW = HgY1CCW + np.array([df['Mercury']['MinuteCCW'][i] for i in np.arange(0,len(df['Mercury']['MinuteCCW']),5) ])/60
HgY2CCW = HgY2CCW + np.array([df['Mercury']['MinuteCCW'][i] for i in np.arange(1,len(df['Mercury']['MinuteCCW']),5) ])/60
HgGCCW = HgGCCW + np.array([df['Mercury']['MinuteCCW'][i] for i in np.arange(2,len(df['Mercury']['MinuteCCW']),5) ])/60
HgBCCW = HgBCCW + np.array([df['Mercury']['MinuteCCW'][i] for i in np.arange(3,len(df['Mercury']['MinuteCCW']),5) ])/60
HgVCCW = HgVCCW + np.array([df['Mercury']['MinuteCCW'][i] for i in np.arange(4,len(df['Mercury']['MinuteCCW']),5) ])/60

# Averaging
HgY1CCW = np.mean(HgY1CCW)
HgY2CCW = np.mean(HgY2CCW)
HgGCCW = np.mean(HgGCCW)
HgBCCW = np.mean(HgBCCW)
HgVCCW = np.mean(HgVCCW)

# True angle is difference from 180
HgY1CCW = abs(HgY1CCW-180)
HgY2CCW = abs(HgY2CCW -180)
HgGCCW = abs(HgGCCW-180)
HgBCCW = abs(HgBCCW-180)
HgVCCW = abs(HgVCCW-180)

In [13]:
# Average CW and CCW
HgYellow1 = (HgY1 + HgY1CCW)/2
HgYellow2 = (HgY2 + HgY2CCW)/2
HgGreen = (HgG + HgGCCW)/2
HgBlue = (HgB + HgBCCW)/2
HgViolet = (HgV + HgVCCW)/2

print(HgYellow1)
print(HgYellow2)
print(HgGreen)
print(HgBlue)
print(HgViolet)

9.87916666667
9.85
9.325
8.40416666667
7.41666666667